body {
  background-color: rgb(168, 210, 210);
}

.tutorial_pic {
  display: inline-block;
  max-width: 250px;
}

.tutorial_text {
  display: block;
}

.heat_map {
  display: inline-block;
  width: 800%;
  max-height: 200px;
}

text {
font: 10px sans-serif;
}

form {
position: absolute;
right: 10px;
top: 10px;
}
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
  }

  div.tooltip {
      position: absolute;
      text-align: center;
      width: 100px;
      height: 28px;
      padding: 2px;
      font: 12px sans-serif;
      background: #008AB8;
      border: 0px;
      border-radius: 6px;
      pointer-events: none;
    }