@import '../../styles-config.scss';

.header {
  position: relative;
  height: 30%;
  margin-bottom: 3%;
  border-bottom: 3px;
  border-radius: 1%;
  background-color: #c5d5cb;
  background-position: inherit;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-opacity: 0.9;
  z-index: 150;
  width: 100%;
}
.main_brand {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 50;
  font-size: 80px;
  text-align: center;
}
.blurb {
  position: relative;
  text-align: center;
}